* {margin: 0; padding: 0; box-sizing: border-box;}
html, body {height: 100%;}
body {font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
     line-height: 1;}
h1, h2, h3, h4, h5, h6 { font-size:100%;}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary { display:block;}
audio,canvas,progress,video { display:inline-block;}

a,embed,object { outline:none;}

img { border:none; box-sizing:content-box; -webkit-box-sizing:content-box; -moz-box-sizing:content-box;}

hr { display:none;}
li { list-style:none;}
a { background-color:transparent; -webkit-text-decoration-skip:objects;}

/*@common
/////////////////////////////////////////////////////////////////////*/
body {
	color:#262626; letter-spacing:0.02em; min-width:1040px;
	-webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
	-webkit-tap-highlight-color:transparent;
}
a { color:#262626; text-decoration:none; -webkit-transition:all 0.2s; transition:all 0.2s;}
.inner { width:1000px; margin:0 auto; position:relative;background: rgb(252, 240, 240);}
.tb { display:table; width:100%; table-layout:fixed; margin:0 auto; position:relative;}
.cell { display:table-cell; vertical-align:top;}
.red { color:#df1825;}

/*head*/
#contentsHead { width:100%; height:115px; background:rgb(243, 206, 206); position:relative;}
#contentsHead h1 {
    width:170px; height:60px;
    background:url(../img/parts.png) no-repeat 0 -420px;
    background-size:300px auto;
    background-color: aquamarine;
    position:absolute; top:27px; left:18px;
}
/* #contentsHead h1 a {
    display:block; width:100%; height:100%;
    text-indent:110%; white-space:nowrap; overflow:hidden;
} */
.idx #contentsHead { height:auto; border-left:20px solid #df1825; position:relative;}
.idx #contentsHead header { width:235px; background:#fff; padding-top:115px; position:relative;}
.idx #contentsHead h1 {
    text-indent:110%; white-space:nowrap;  overflow:hidden; /* 欄外にして隠す */
    top:30px; left:50%; margin-left:-85px;
}
/*nav*/
#globalnav { font-weight:bold;}
#globalnav .nav2 { display:none;}
#globalnav .nav1-1 > li { position:relative;}
#globalnav .nav1-1 > li > a {
    font-size:160%; color:#343434; cursor:pointer;
    padding-left:68px; position:relative;
}
#globalnav .nav1-1 > li > a:before {
    content:""; display:block; width:35px; height:25px;
    background:url(../img/parts.png) no-repeat;
    background-size:300px auto;
    background-color: aquamarine;
    position:absolute; top:50%; left:22px;
    margin-top:-12.5px;
}
#globalnav .nav1-1 > li.m1 > a:before { opacity:0.15;}
#globalnav .nav1-1 > li.m3 > a:before { opacity:1;}
#globalnav .nav1-1 > li.m2 > a:before,
#globalnav .nav1-1 > li.m4 > a:before { opacity:0.2;}
#globalnav .nav1-1 > li.m1 > a:before { background-position:0 0;}
#globalnav .nav1-1 > li.m2 > a:before { background-position:-40px 0;}
#globalnav .nav1-1 > li.m3 > a:before { background-position:-220px -485px; height:30px; margin-top:-15px;}
#globalnav .nav1-1 > li.m4 > a:before { background-position:-40px 0;}
	/*idx*/
	.idx #globalnav { border-top:2px solid #f4f0f1;}
	.idx #globalnav .nav1-1 > li > a {
		display:block; height:56px; line-height:56px;
		border-bottom:2px solid #f4f0f1;
	}

    /*地域*/
.idx #selectArea { width:170px; position:absolute; top:27px; right:20px; z-index:10;}
#selectArea ul {
    width:170px; background:#fff;
    position:absolute; top:34px; left:0;
    display:none;
}
#selectArea ul li { border-top:2px solid #f4f0f1;}
#selectArea ul li a {
    display:block; width:100%; height:34px; line-height:34px;
    font-size:180%; text-align:center; font-weight:normal;
    background:#fff; padding-top:1px; position:relative;
    cursor:pointer;
}
#selectArea ul li a:hover,
#selectArea ul li.this a { background:#f4f0f1;}
/*selectArea*/
.idx #selectArea { width:115px; top:100px; left:50%; margin-left:-57px;}
	.idx #areaOpen {
		display:block; width:100%; height:27px; line-height:24px;
		font-size:140%; font-weight:bold; text-align:center; color:#262626;
		border:1px solid #b2b3bf; border-radius:5px;
		background:#fff; cursor:pointer;
		padding:1px 10px 0 0; position:relative;
	}
	.idx #areaOpen:after {
		content:''; display:block; width:0; height:0;
		position:absolute; top:50%; right:8px; z-index:20;
		border:6px transparent solid;
		border-top-color:#df1825;
		border-width:9px 6px 0 6px;
		margin-top:-4px;
	}
	.idx #selectArea ul {
		width:100%; top:28px; overflow:hidden;
		border:1px solid #b2b3bf; border-radius:5px;
	}
	.idx #selectArea ul li { border-color:#f1f1f1;}
	.idx #selectArea ul li:first-child { border-top:none;}
	.idx #selectArea ul li a { font-size:140%; height:28px; line-height:28px;}
	.idx #selectArea ul li a:hover,
	.idx #selectArea ul li.this a { background:#f1f1f1;}

/*＠TOP
///////////////////////////////////////////////////////*/
/*ただいま放送中*/
.idx #nowOnair { background:#df1825;}
.idx #nowOnair .headings { color:#fff; font-weight:bold; padding:34px 20px 20px 30px; position:relative;}
/*3局*/
.idx #selectRadio .r1 { background:#c7000a;}
.idx #selectRadio .r2 { background:#22943a;}
.idx #selectRadio .fm { background:#f18e2b;}
.idx #selectRadio .cell a {
	display:block; width:100%; color:#fff; font-weight:bold;
	overflow:hidden; position:relative; z-index:1;
	padding-bottom:100px;
	cursor:pointer;
	}
    .idx #selectRadio .cell a:after {
		content:''; display:block; width:100%; height:100%;
		background:#262626; opacity:0;
		position:absolute; top:0; left:0; z-index:2;
	}

    .idx #selectRadio .title {
		display:block; width:100%; height:100px;
		padding:40px 10px 20px 98px;
		position:absolute; bottom:0; left:0; z-index:1;
		}
		.idx #selectRadio .r1 .title { background:#c7000a;}
		.idx #selectRadio .r2 .title { background:#22943a;}
		.idx #selectRadio .fm .title { background:#f18e2b;}








